body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}

h1 {
	font-family: Sans-serif;
	font-size: 6em;
	font-weight: lighter;
}

a {
	color: gray;
	font-family: sans-serif;
	font-weight: lighter;
	text-decoration: none;
}